<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="DdbConfig.endpointUri" value=""/>
    <add key="DdbConfig.authorizationKey" value=""/>
    <add key="DdbConfig.retryCount" value="10"/>
    <add key="DdbConfig.retryInterval" value="1"/>
    <add key="DdbConfig.feedOptionMaxItemCount" value="1000"/>
    <add key="DdbConfig.databaseName" value=""/>
    <add key="DdbConfig.demoCollection" value=""/>
  </appSettings>

</configuration>
